@import './base.css';

#app {
  max-width: 64rem;
  margin: 0 auto;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: var(--color-text);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
